[user]
email = developomp@protonmail.com
name = developomp
signingkey = 2B516173EDD492EB

[pull]
rebase = false

[init]
defaultBranch = master

[credential]
helper = store

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge --skip -- %f
process = git-lfs filter-process --skip
required = true

[safe]
directory = /opt/flutter

[commit]
gpgsign = true
